body {
  background-image: linear-gradient(to right bottom, rgba(70, 5, 208, 0.8), rgba(31, 2, 95, 0.8));
  background-repeat: no-repeat;
  height: 100vh; }

.container {
  width: 50rem;
  height: 30rem;
  background-color: #b34b33;
  color: #fff;
  font-weight: bold;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  text-align: center;
  margin: 0 auto;
  border: 3px solid navy;
  border-radius: 10px; }

.container button {
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer; }
  .container button:not(:last-child) {
    margin-right: 1rem; }
